<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Campeones de la WWW</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ config.base_url }}/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/campeones/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/campeones/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/campeones/favicon-16x16.png">
    <link rel="manifest" href="/campeones/site.webmanifest">
    <link rel="mask-icon" href="/campeones/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/campeones/favicon.ico">
    <meta name="msapplication-config" content="/campeones/browserconfig.xml">
  </head>
  <body>
    <main>
      <article id="right">
        <h1>Campeones de la WWW:</h1>
        <h2>The Playful Politics of Latin American net.art</h2>
      </article>
      <footer class="flex-grid">
        <div class="divider"></div>
        {% for page in section.pages %}
          <nav>
            <a href="{{ page.permalink | safe}}">
              <h2>{{ page.title }}</h2>
            </a>
          </nav>
          <div class="divider"></div>
        {% endfor %}
      </footer>
      <section class="images">
        {{ section.content | safe}}
      </section>
    </main>
  </body>
</html>
