<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Campeones de la WWW</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ config.base_url }}/index.css">
  </head>
  <body>
    <main>
      <article id="right">
        <h1>Campeones de la WWW:</h1>
        <h2>The Playful Politics of Latin American net.art</h2>
      </article>
      <footer class="flex-grid">
        <div class="divider"></div>
        {% for page in section.pages %}
          <nav>
            <a href="{{ page.permalink | safe}}">
              <h2>{{ page.title }}</h2>
            </a>
          </nav>
          <div class="divider"></div>
        {% endfor %}
      </footer>
      <section class="images">
        {{ section.content | safe}}
      </section>
    </main>
  </body>
</html>
