<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ config.base_url }}/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/campeones/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/campeones/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/campeones/favicon-16x16.png">
    <link rel="manifest" href="/campeones/site.webmanifest">
    <link rel="mask-icon" href="/campeones/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/campeones/favicon.ico">
    <meta name="msapplication-config" content="/campeones/browserconfig.xml">
    <link rel="stylesheet" href="{{ config.base_url }}/style.css">
    <script>
      window.hypothesisConfig = function () {
        return {
          branding: {
            appBackgroundColor: '#c3c5ff',
            ctaBackgroundColor: '#FF23DA',
            accentColor: '#FF23DA',
            ctaTextColor: '#0A000A',
            selectionFontFamily: '"Benton Sans", "Helvetica Neue", helvetica, arial, sans serif'
          }
        }
      }
    </script>
    <script src="https://hypothes.is/embed.js" async></script>
  </head>
  <body>
    <script>
      window.onload = function() {
        let links = document.querySelectorAll('section.text a');
        for (let i = 0; i < links.length; i++){
          links[i].target = "_blank";
        }
      }
    </script>
    {% set_global page_split = page.content | split(pat="======") %}
    {% set_global content = page_split.0 %}
    {% set_global references = page_split.1 %}
    <main>
      <article class="flex-grid">
        <section class="col" id="left">
          <nav>
            <a href="{{ config.base_url }}">
              <h2>Start</h2>
            </a>
          </nav>
          <section class="text">{{ references | safe }}</section>
        </section>
        <section class="col" id="right">
          <h1>Campeones de la WWW</h1>
          <h2>{{ page.title }}</h2>
          <section class="text">{{ content | safe }}</section>
        </section>
      </article>
      <footer class="flex-grid">
        {% if (page.lighter) %}
          <nav>
            <a href="{{ page.lighter.permalink }}">
              <h2>{{ page.lighter.title }}</h2>
            </a>
          </nav>
        {% else %}
          <nav>
            <a href="{{ config.base_url }}">
              <h2>Start</h2>
            </a>
          </nav>
        {% endif %}
        <div class="divider"></div>
        {% if (page.heavier) %}
          <nav>
            <a href="{{ page.heavier.permalink }}">
              <h2>{{ page.heavier.title }}</h2>
            </a>
          </nav>
        {% else %}
          <nav>
            <a href="{{ config.base_url }}">
              <h2>Start</h2>
            </a>
          </nav>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
